body {
 background-color: #333;
 font-family: sans-serif;
 font-size: 10px;
 margin: 0;
 padding: 0;
 width: 100%;
}
p {
 font-size: 2rem;
 opacity: .5;
 padding-bottom: 8px;
}
.fixed-div {
 position: fixed;
 width: 100%;
}
.top-nav{
 background-color: #078972;
 padding: 100px 30px 30px 30px;
}
input#search {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    text-indent: 20px;
}
.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
}
input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
.magnify, .Xicon, .bus-icon {
 height: 100%;
 width: auto;
}
.map {
 height: 500px;
 width: 100%;
 overflow: hidden;
}
.fullwidth {
  width: 100%;
}
.column-indicator {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 background-color: white;
 padding: 20px 20px;
 height: 73px;
 position: relative;
 top: 34vh;
}
h4 {
 /* font-size: 25px; */
 color: #078972;
}
h1 {
 font-weight: bold;
 color: #333;
 font-size: 60px;
 /* padding: 70px 0 0 16%; */
 font-weight: normal;
}
h2 {
 font-size: 1.5rem;
 color: #078972;
 font-size: 45px;
}
*, *:before, *:after {
 box-sizing: border-box;
}
ul.reset,
ul.reset li,
ul.reset ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
}
.location {
 background-color: white;
 border-bottom: 1px solid gray;
 padding-bottom: 17%;
 padding-top: 70%;
}
.direction-container {
 /* font-size: 50px; */
 padding: 0 23%;
}
.route-container:hover {
 background-color: #A2A2A2;
}
/* .route-list {
 width: 100%;
} */

/* css grid */


.route-container {
 display: grid;
 grid-template-columns: 16% 57% 22% 5%;
 align-items: end;
 padding-top: 3%;
}
.title {
 padding: 70px 0 0 16%;
}
.flexheader {
 display: flex;
 justify-content: space-between;
}

.col1 {
 grid-column: 1;
 border-bottom: 1px black solid;
 padding-left: 20px;
 padding-bottom: 20px;
}
.col2 {
 grid-column: 2;
 border-bottom: 1px black solid;
 padding-bottom: 20px;
}
.col3 {
 grid-column: 3;
 border-bottom: 1px black solid;
 padding-bottom: 20px;
}
.col4 {
 grid-column: 4;
 border-bottom: 1px black solid;
 padding-bottom: 20px;
}
.bottom-nav {
 position: fixed;
 background-color: #EEEEEE;
 bottom: 0%;
 height: 8%;
 width: 100%;
 display: flex;
 justify-content: space-around;
}
.mapbtn {
 background-image: url(img/mapbtn.png);
 background-size: 65%;
 height: 100%;
 width: 10%;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: #EEE;
 border-color: #EEE;
}
.recentbtn {
 background-image: url(img/recentbtn.png);
 background-size: 90%;
 height: 100%;
 width: 10%;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: #EEE;
 border-color: #EEE;
}
.savedbtn {
 background-image: url(img/savedbtn.png);
 background-size: 90%;
 height: 100%;
 width: 10%;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: #EEE;
 border-color: #EEE;
}
.profilebtn {
 background-image: url(img/profilebtn.png);
 background-size: 100%;
 height: 100%;
 width: 10%;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: #EEE;
 border-color: #EEE;
}
.resumes {
 padding-top: 7.9%;
 padding-right: 6%;
}
