body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.top-nav{
  background-color: #078972;
  padding: 100px 30px 30px 30px;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 75px;
  padding: 20px 20px;
  border-radius: 10px;
}
.magnify, .Xicon, .bus-icon {
  height: 100%;
  width: auto;
}
.column-indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 20px 20px;
  height: 73px;
}
h4 {
  font-size: 25px;
  color: #078972;
}
h1 {
  font-weight: bold;
  color: #333;
  font-size: 17px;
  padding-bottom: 2px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.location {
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 1% 4%;
}
.direction-container {
  font-size: 50px;
  padding: 0 23%;
}
.route-container {
  display: flex;
  font-size: 20px;
}
.col2 {
  padding-left:
}
.col3 {
  padding-left;
}
.location:hover {
  background-color: #A2A2A2;
}
.content {
  width: 80%;
}
.arrow {
  padding: 19.5px 0 19.5px 17%;
}
.container {
  margin: 0 auto;
  width: 420px;
}
.restaurant-list {
  width: 100%;
}
